<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <script>
        L_NO_TOUCH = false;
        L_DISABLE_3D = false;
    </script>

    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>

</head>
<body>

<div id="map"></div>

<script>
    var map = L.map("map").setView([32.0853, 34.7818], 10);

    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution: "&copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a> contributors"
    }).addTo(map);


    map.on('click', function (e) {
    var marker = L.marker(e.latlng).addTo(map);
    var popupContent = '<input type="text" size="35"><br><button onclick="addComment(this)">Add report</button><br><button onclick="removeMarker(this)">Remove marker</button>';
    var popup = marker.bindPopup(popupContent);
    });

    function addComment(button) {
    var popup = button.parentElement;
    var textarea = popup.querySelector('input[type="text"]');
    var comment = textarea.value;

    // Get the existing content of the popup
    var existingContent = popup.innerHTML;

    // Create HTML for the new comment with a line break
    var newContent = '<p>' + comment + '</p><br>' + existingContent;

    // Update the popup content with the new HTML
    popup.innerHTML = newContent;

}


    //That doesn't workkkk
    function removeMarker(button) {
    var popup = button.parentElement.parentElement.parentElement.parentElement;
    console.log(popup)
    var marker = popup._source; // Get the marker associated with the popup
    console.log(marker)
    var latlng = marker.getLatLng(); // Get the latlng of the marker
    console.log("Latitude:", latlng.lat, "Longitude:", latlng.lng); // Log the latlng to the console
    }

</script>

</body>
</html>
