<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <script>
        L_NO_TOUCH = false;
        L_DISABLE_3D = false;
    </script>

    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
);

    </style>

    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>

</head>
<body>

<div id="map">
    <form id="mapForm" action="/map" method="post">
                <!-- Hidden input fields for mark data -->
        <input type="hidden" id="latitude" name="latitude">
        <input type="hidden" id="longitude" name="longitude">
        <input type="hidden" id="color" name="color">
        </form>
</div>

<script>

    var map = L.map("map").setView([32.0853, 34.7818], 10);

    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution: "&copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a> contributors"
    }).addTo(map);

function createCustomIcon(color) {
    var iconUrl;
    switch (color) {
        case 'soldier':
            iconUrl = 'https://leafletjs.com/examples/custom-icons/leaf-green.png';
            break;
        case 'terrorist':
            iconUrl = 'https://leafletjs.com/examples/custom-icons/leaf-red.png';
            break;
        case 'hostage':
            iconUrl = 'https://leafletjs.com/examples/custom-icons/leaf-orange.png';
            break;
        default:
            // Default to red color if an invalid color is provided
            //iconUrl = 'https://leafletjs.com/examples/custom-icons/leaf-red.png';
            break;
    }

    return L.icon({
        iconUrl: iconUrl,
        iconSize: [38, 95],
        iconAnchor: [22, 94],
        popupAnchor: [-3, -76]
    });
}


    map.on('click', function (e) {
    // Prompt the user to enter/select a color
    var color = prompt("Enter marker color (soldier, terrorist, hostage):");

    // Create the custom icon based on the selected color
    var customIcon = createCustomIcon(color);

    // Create the marker with the custom icon and add it to the map
    var marker = L.marker(e.latlng, {icon: customIcon}).addTo(map);

    // Define the popup content
    var popupContent = '<input type="text" size="35"><br><button onclick="addComment(this)">Add report</button><br><button onclick="removeMarker(this)">Remove marker</button>';

    // Bind popup with the marker
    var popup = marker.bindPopup(popupContent);

     // Set values for hidden input fields with mark data
        document.getElementById("latitude").value = e.latlng.lat;
        document.getElementById("longitude").value = e.latlng.lng;
        document.getElementById("color").value = color;

        // Submit the form
        document.getElementById("mapForm").submit();
    });

    function addComment(button) {
    var popup = button.parentElement;
    var textarea = popup.querySelector('input[type="text"]');
    var comment = textarea.value;

    // Create a new paragraph element for the comment
    var commentElement = document.createElement('p');
    commentElement.textContent = comment;

    // Append the new comment to the popup content
    popup.appendChild(commentElement);

    // Clear the text input
    textarea.value = '';
}



    //That doesn't workkkk
    function removeMarker(button) {
    var popup = button.parentElement.parentElement.parentElement.parentElement;
    console.log(popup)
    var marker = popup._source; // Get the marker associated with the popup
    console.log(marker)
    var latlng = marker.getLatLng(); // Get the latlng of the marker
    console.log("Latitude:", latlng.lat, "Longitude:", latlng.lng); // Log the latlng to the console
    }

</script>

</body>
</html>
